.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#home{
  text-align: center;
  padding-bottom: 200px;
  font-size: large;
}

#headings{
  font-size: 250px;
}

#colours a{
  color:green;
}

#pad {
  padding: 5px;
}

header img {
  height: 80px;
  margin-left: 40px;
}
body {
  height: 125vh;
  background-color: gainsboro;
  background-size: cover;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
  color:black;
  font-size: 14px;
}

main {
  color: white;
}

header {
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  
}

header * {
  display: inline;
}

header a {
  margin: 20px;
  font-size: 30px;
  padding-left: 30px;
  font-weight: 900;
}

header a {
  color: black;
  text-decoration: none;
  
}

#inputs{
  padding-left: 1000px;
  padding-top: 100px;

}

#email{
  padding: 10px;
  size:40;
}

#password{
  padding: 10px;
  padding-bottom: 10px;
}

#submit{
  padding: 10px;
  padding-top: 10px;
}

#sideImage{
  position: relative;
  right:500px;
  bottom:160px  
}

#sideImages{
  position: relative;
  right:500px;
  bottom:116px  
}




